.details-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.film-section{
    display: flex;
    gap: 2rem;
}

.film.section img{
    width: 350px;
}

.film.section h1{
    font-size: 36px;
}

.infos{
    display: flex;
    height: 100%;
    align-items: center;
}

.infos ul{
    list-style: none;
}

.infos ul li {
    margin-top: 1rem;
    font-size: 22px;
}

.plot{
    font-size: 22px;
    text-align: justify;
}